# Data Cleaning

#### Importing raw data

In [ ]:
import pandas as pd

In [ ]:
immo24_all=pd.read_csv("immo24_warm.csv")

In [ ]:
immo24_all.head()

#### Dropping useless information

In [ ]:
immo24=immo24_all.drop(["onlySmall","result-list-entry__brand-title-container href", "result-list-entry__brand-logo-container href","font-s href", "result-list-entry__brand-logo-container href 2", "slick-slide href", "image-index-label", "gallery__count","total-media-count-label","result-list-entry__criteria href", "block 2", "result-list-entry__new-flag","onlySmall 2", "font-tabular 3" ],  axis=1)

In [ ]:
immo24

#### Getting the unique values of multiple columns

In [ ]:
# Ahmet hat die uniquen values verwickelt (values.ravel)
pd.unique(immo24[["margin-top-none", "margin-top-none 2", "margin-top-none 3"]].values.ravel('K'))
# the letter 'K' is a shorthand for the order 'K' or 'F', which stands for 'Fortran-style', 
# meaning the elements are arranged in column-major order
# in this case, passing 'K' as an argument to ravel() ensures that the elements are flattened 
# in column-major order, meaning the elements of each column are concatenated before moving to the next column. 
# since the input is a dataframe, this ensures that values from the same column are concatenated together 
# in the flattened array.

#### Adding new empty columns

In [ ]:
immo24["Balkon/Terrasse"] = ""

In [ ]:
immo24['Einbauküche'], immo24['Keller'], immo24['Garten'] = "", "", ""

In [ ]:
immo24['Aufzug'], immo24['Gäste-WC'], immo24['WG-geeignet'] = "", "", ""

In [ ]:
immo24['Stufenlos']=""

#### Creating dummy-value (0 or 1) for features

In [ ]:
immo24.tail()

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    elif immo24.iloc[i,7]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    elif immo24.iloc[i,8]== "Balkon/Terrasse":
        immo24.iloc[i,9]=1
    else:
        immo24.iloc[i,9]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Einbauküche" or immo24.iloc[i,7]== "Einbauküche" or immo24.iloc[i,8]== "Einbauküche":
        immo24.iloc[i,10]=1
    else:
        immo24.iloc[i,10]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Keller" or immo24.iloc[i,7]== "Keller" or immo24.iloc[i,8]== "Keller":
        immo24.iloc[i,11]=1
    else:
        immo24.iloc[i,11]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Garten" or immo24.iloc[i,7]== "Garten" or immo24.iloc[i,8]== "Garten":
        immo24.iloc[i,12]=1
    else:
        immo24.iloc[i,12]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Aufzug" or immo24.iloc[i,7]== "Aufzug" or immo24.iloc[i,8]== "Aufzug":
        immo24.iloc[i,13]=1
    else:
        immo24.iloc[i,13]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Gäste-WC" or immo24.iloc[i,7]== "Gäste-WC" or immo24.iloc[i,8]== "Gäste-WC":
        immo24.iloc[i,14]=1
    else:
        immo24.iloc[i,14]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "WG-geeignet" or immo24.iloc[i,7]== "WG-geeignet" or immo24.iloc[i,8]== "WG-geeignet":
        immo24.iloc[i,15]=1
    else:
        immo24.iloc[i,15]=0

In [ ]:
for i in range (len(immo24)):
    if immo24.iloc[i,6]== "Stufenlos" or immo24.iloc[i,7]== "Stufenlos" or immo24.iloc[i,8]== "Stufenlos":
        immo24.iloc[i,16]=1
    else:
        immo24.iloc[i,16]=0

In [ ]:
immo24.tail()

list1=["Keller", "Garten", "Aufzug", "Gäste-WC", "WG-geeignet"]

for i in range (len("immo24")):
    for j in range (len(list)):
                    if immo24.iloc[i,6]== list1[j] or immo24.iloc[i,7]== list1[j] or immo24.iloc[i,8]== list1[j]:
                        immo24.iloc[i,j+11]=1
                    else:
                        immo24.iloc[i,j+11]=0

#### Getting the specific district from address

In [ ]:
Stadtteil=[]
for i in range (len(immo24)):
    elem= immo24["result-list-entry__map-link"][i].split(",")[(immo24["result-list-entry__map-link"][i].split(",").index(" Berlin"))-1]
    elem= elem.lstrip()
    elem=elem.replace("(Ortsteil)","")
    elem= elem.rstrip()
    Stadtteil.append(elem)

In [ ]:
len(Stadtteil)

In [ ]:
immo24["Stadtteil"]= Stadtteil

In [ ]:
len(immo24["Stadtteil"].unique())

In [ ]:
immo24["Stadtteil"].unique()

#### Checking NaN's

In [ ]:
immo24["onlyLarge"].value_counts()

In [ ]:
immo24["onlyLarge"].isna().sum()

In [ ]:
immo24.info()

In [ ]:
immo24["font-highlight"].unique()

In [ ]:
immo24["font-highlight"].isna().sum()

#### Renaming and rearranging columns

In [ ]:
immo24.columns

In [ ]:
new_column_names = {"result-list-entry__brand-title":"description","block":"landlord","result-list-entry__map-link":"address","font-highlight":"total rent","font-highlight 2":"area","onlyLarge":"number of rooms","margin-top-none":"feature 1","margin-top-none 2":"feature 2","margin-top-none 3":"feature 3","Balkon/Terrasse":"balcony","Einbauküche":"built-in kitchen","Keller":"basement","Garten":"garden","Aufzug":"elevator","Gäste-WC":"guest toilet","WG-geeignet":"flat share possible","Stufenlos":"stepless","Stadtteil":"district"}

In [ ]:
df = immo24.rename(columns=new_column_names)

In [ ]:
#df["district"]=df["district"].str.lower()

In [ ]:
df = df[["district","address","description","landlord","total rent","area","number of rooms","balcony","built-in kitchen","basement","garden","elevator","stepless","guest toilet","flat share possible"]]

In [ ]:
df.landlord.unique()

In [ ]:
# replace values in landlord column based on conditions
df["landlord"] = df["landlord"].fillna("").astype(str)
df["landlord"] = df["landlord"].apply(lambda x: "estate agent" if "Frau" in x or "Herr" in x else x)
df["landlord"] = df["landlord"].apply(lambda x: "private offer" if "Privatangebot" in x or "privat" in x or "Privat" in x else x)

df.landlord.unique()

In [ ]:
pd.set_option('display.max_rows', 1000)
df.landlord.value_counts()

#### Deleting, useless characters and changing , to .

In [ ]:
for i in range (len(df)):
    df["total rent"][i]= df["total rent"][i].replace("€","").replace("~","").rstrip().replace(".","").replace(",",".")

In [ ]:
for i in range (len(df)):
    df["area"][i]= df["area"][i].replace("m²","").replace("~","").rstrip().replace(".","").replace(",",".")

In [ ]:
df.info()

In [ ]:
df["number of rooms"].unique()

#### Dropping rows with incomplete information

In [ ]:
df["number of rooms"].isna().sum()

In [ ]:
df.drop(df.loc[df["number of rooms"].isna()==True].index, inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df["number of rooms"] = df["number of rooms"].astype(str)

In [ ]:
for i in range (len(df)):
    df["number of rooms"][i]= df["number of rooms"][i].replace(",",".")

#### Adapting datatypes

In [ ]:
df.info()

In [ ]:
df[["number of rooms", "total rent","area"]] = df[["number of rooms", "total rent","area"]].astype(float)

In [ ]:
df[['balcony', 'built-in kitchen', 'basement', 'garden','elevator', 'stepless', 'guest toilet', 'flat share possible']]=df[['balcony', 'built-in kitchen', 'basement', 'garden','elevator', 'stepless', 'guest toilet', 'flat share possible']].astype(int)

In [ ]:
df.info()

In [ ]:
df.drop("index", axis=1, inplace=True)

In [ ]:
#df.to_csv("df_cleaned.csv",index=False)
#saved as df_cleaned in ordner 
#continued to manually clean in excel with excel df_cleaned (names of landlord, combined to estate agent, private offer...)

## Creating numeric df as basis for machine learning

In [4]:
import pandas as pd
# uploading cleaned df
data = pd.read_csv("df_cleaned.csv")

In [5]:
#data = pd.get_dummies(data, columns = ["district","landlord"], drop_first= True)

In [6]:
data.columns = data.columns.str.lower()

In [7]:
pd.set_option("display.max_columns", None)
data.columns
data.tail()

,district,address,description,landlord,total rent,area,number of rooms,balcony,built-in kitchen,basement,garden,elevator,stepless,guest toilet,flat share possible
3480,Kaulsdorf,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",3- Raumwohnung in Kaulsdorf in Bahnhofnähe,Estate agent,1035.0,80.00,3.0,1,0,1,1,0,0,0,0
3481,Schöneberg,"Nollendorfstr. 17, Schöneberg, Berlin",Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,Private offer,1663.0,84.10,2.0,0,0,0,1,0,0,0,0
3482,Tegel,"Tegel, Berlin","Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...",Private offer,1260.0,72.00,2.5,0,0,1,1,0,0,0,0
3483,Tiergarten,"Potsdamer Str. 100, Tiergarten, Berlin",Sonnendurchflutete repräsentative Wohnung / Bü...,Estate agent,2995.0,158.00,4.0,0,0,0,0,1,0,1,0
3484,Charlottenburg,"Kaiserdamm 6, Charlottenburg, Berlin",Grossraumwohnung ( zur Eigenrenovierung/Sanier...,Estate agent,1999.0,136.32,4.0,0,0,0,0,1,0,0,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   district             3485 non-null   object
 1   address              3485 non-null   object
 2   description          3485 non-null   object
 3   landlord             3485 non-null   object
 4   total rent           3485 non-null   float64
 5   area                 3485 non-null   float64
 6   number of rooms      3485 non-null   float64
 7   balcony              3485 non-null   int64
 8   built-in kitchen     3485 non-null   int64
 9   basement             3485 non-null   int64
 10  garden               3485 non-null   int64
 11  elevator             3485 non-null   int64
 12  stepless             3485 non-null   int64
 13  guest toilet         3485 non-null   int64
 14  flat share possible  3485 non-null   int64
dtypes: float64(3), int64(8), object(4)
memory usage: 408.5+ KB

In [9]:
data.columns

Index(['district', 'address', 'description', 'landlord', 'total rent', 'area',
       'number of rooms', 'balcony', 'built-in kitchen', 'basement', 'garden',
       'elevator', 'stepless', 'guest toilet', 'flat share possible'],
      dtype='object')

#### Changing datatypes of new dummy columns to integer

In [10]:
for i in range (7,-1):
    data[data.columns[i]]=data[data.columns[i]].astype(int)

In [11]:
data["number of rooms"].dtype

dtype('float64')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   district             3485 non-null   object
 1   address              3485 non-null   object
 2   description          3485 non-null   object
 3   landlord             3485 non-null   object
 4   total rent           3485 non-null   float64
 5   area                 3485 non-null   float64
 6   number of rooms      3485 non-null   float64
 7   balcony              3485 non-null   int64
 8   built-in kitchen     3485 non-null   int64
 9   basement             3485 non-null   int64
 10  garden               3485 non-null   int64
 11  elevator             3485 non-null   int64
 12  stepless             3485 non-null   int64
 13  guest toilet         3485 non-null   int64
 14  flat share possible  3485 non-null   int64
dtypes: float64(3), int64(8), object(4)
memory usage: 408.5+ KB

#### Removing Outliers

In [13]:
def remove_outliers(df, column_names):
    """ returns a df without outliers for the specified column names"""
    if isinstance(df, pd.core.frame.DataFrame):
        Q1 = df[column_names].quantile(0.25)
        Q3 = df[column_names].quantile(0.75)
        IQR = Q3 - Q1
        true_list = ~((df[column_names] < (Q1 - 1.5*IQR)) | (df[column_names] > (Q3 + 1.5*IQR)))
        return df[true_list]
    else:
        raise TypeError

In [14]:
def what_are_outliers(df, column_names):
    """ returns a df with outliers for the specified column names"""
    if isinstance(df, pd.core.frame.DataFrame):
        Q1 = df[column_names].quantile(0.25)
        Q3 = df[column_names].quantile(0.75)
        IQR = Q3 - Q1
        true_list = (df[column_names] < (Q1 - 1.5*IQR)) | (df[column_names] > (Q3 + 1.5*IQR))
        return df[true_list]
    else:
        raise TypeError

In [15]:
#df_clean = remove_outliers(data, "number of rooms")

In [16]:
#df_clean.tail()

In [17]:
#what_are_outliers(data, "number of rooms")

In [19]:
df_cleanest = remove_outliers(data, "total rent")

In [21]:
check = what_are_outliers(data, "total rent")
check.describe()

,total rent,area,number of rooms,balcony,built-in kitchen,basement,garden,elevator,stepless,guest toilet,flat share possible
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.0
mean,6658.134267,164.543200,3.663333,0.506667,0.526667,0.133333,0.086667,0.133333,0.106667,0.246667,0.0
std,3256.124417,91.544976,2.222895,0.501630,0.500961,0.341073,0.282289,0.341073,0.309723,0.432515,0.0
min,4200.000000,30.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,4569.750000,113.250000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,5549.000000,147.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,7400.000000,200.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,28000.000000,706.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [22]:
df_numeric = df_cleanest.select_dtypes(include=["int","float"])

In [23]:
df_numeric

,total rent,area,number of rooms,balcony,built-in kitchen,basement,garden,elevator,stepless,guest toilet,flat share possible
0,3940.00,175.00,3.0,1,1,0,0,0,0,0,0
1,4030.00,147.00,4.0,1,1,0,0,0,0,0,0
2,1404.41,72.86,3.0,1,1,0,0,0,0,0,0
3,2663.13,107.89,1.0,1,1,0,0,0,0,0,0
4,2790.64,93.36,3.0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3480,1035.00,80.00,3.0,1,0,1,1,0,0,0,0
3481,1663.00,84.10,2.0,0,0,0,1,0,0,0,0
3482,1260.00,72.00,2.5,0,0,1,1,0,0,0,0
3483,2995.00,158.00,4.0,0,0,0,0,1,0,1,0
3484,1999.00,136.32,4.0,0,0,0,0,1,0,0,0

In [24]:
df_numeric.to_csv("df_numeric.csv",index=False)