# Data Cleaning

#### Importing raw data

In [1]:
import pandas as pd

In [2]:
immo24_all=pd.read_csv("immo24_warm.csv")

In [3]:
immo24_all.head()

,result-list-entry__brand-title-container href,result-list-entry__brand-title,result-list-entry__brand-logo-container href,font-s href,block,result-list-entry__brand-logo-container href 2,slick-slide href,image-index-label,gallery__count,total-media-count-label,...,font-highlight 2,onlySmall,onlyLarge,font-tabular 3,margin-top-none,margin-top-none 2,margin-top-none 3,block 2,result-list-entry__new-flag,onlySmall 2
0,https://www.immobilienscout24.de/expose/138511876,Exklusives Penthouse im Grunewald,https://www.immobilienscout24.de/expose/138511876,https://www.immobilienscout24.de/expose/138511876,Privatangebot,https://www.immobilienscout24.de/expose/138511876,https://www.immobilienscout24.de/expose/138511876,1.0,/,16.0,...,175 m²,3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Privatangebot,NaN,NaN
1,https://www.immobilienscout24.de/expose/139935844,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...",https://www.immobilienscout24.de/expose/139935844,https://www.immobilienscout24.de/expose/139935844,Privatangebot,https://www.immobilienscout24.de/expose/139935844,https://www.immobilienscout24.de/expose/139935844,1.0,/,16.0,...,147 m²,4 Zi.,4,Zi.,Balkon/Terrasse,Einbauküche,...,Privatangebot,NEU,NEU
2,https://www.immobilienscout24.de/expose/139965071,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...",https://www.immobilienscout24.de/expose/139965071,https://www.immobilienscout24.de/expose/139965071,Herr Sascha Biß,https://www.immobilienscout24.de/expose/139965071,https://www.immobilienscout24.de/expose/139965071,1.0,/,2.0,...,"72,86 m²",3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Herr Sascha Biß,NEU,NEU
3,https://www.immobilienscout24.de/expose/121744828,Schloßloft am Lietzensee mit Galerie und Seebl...,https://www.immobilienscout24.de/expose/121744828,https://www.immobilienscout24.de/expose/121744828,Frau Christine Adler,https://www.immobilienscout24.de/expose/121744828,https://www.immobilienscout24.de/expose/121744828,1.0,/,9.0,...,"107,89 m²",1 Zi.,1,Zi.,Balkon/Terrasse,Einbauküche,...,Frau Christine Adler,NaN,NaN
4,https://www.immobilienscout24.de/expose/140102355,Penthouse-Wohnung mit Blick über Berlin!,https://www.immobilienscout24.de/expose/140102355,https://www.immobilienscout24.de/expose/140102355,Frau Isabelle Mienes,https://www.immobilienscout24.de/expose/140102355,https://www.immobilienscout24.de/expose/140102355,1.0,/,10.0,...,"93,36 m²",3 Zi.,3,Zi.,Balkon/Terrasse,Einbauküche,...,Frau Isabelle Mienes,NEU,NEU

#### Dropping useless information

In [4]:
immo24=immo24_all.drop(["onlySmall","result-list-entry__brand-title-container href", "result-list-entry__brand-logo-container href","font-s href", "block", "result-list-entry__brand-logo-container href 2", "slick-slide href", "image-index-label", "gallery__count","total-media-count-label","result-list-entry__criteria href", "block 2", "result-list-entry__new-flag","onlySmall 2", "font-tabular 3" ],  axis=1)

In [5]:
immo24

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3,Balkon/Terrasse,Einbauküche,...
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4,Balkon/Terrasse,Einbauküche,...
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3,Balkon/Terrasse,Einbauküche,...
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1,Balkon/Terrasse,Einbauküche,...
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3,Balkon/Terrasse,Einbauküche,...
...,...,...,...,...,...,...,...,...
3503,3- Raumwohnung in Kaulsdorf in Bahnhofnähe,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",1.035 €,80 m²,3,Balkon/Terrasse,Garten,Keller
3504,Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,"Nollendorfstr. 17, Schöneberg, Berlin",1.663 €,"84,1 m²",2,Garten,NaN,NaN
3505,"Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...","Tegel, Berlin",1.260 €,72 m²,"2,5",Garten,Keller,NaN
3506,Sonnendurchflutete repräsentative Wohnung / Bü...,"Potsdamer Str. 100, Tiergarten, Berlin",2.995 €,158 m²,4,Gäste-WC,Aufzug,NaN
3507,Grossraumwohnung ( zur Eigenrenovierung/Sanier...,"Kaiserdamm 6, Charlottenburg, Berlin",1.999 €,"136,32 m²",4,Aufzug,NaN,NaN

#### Getting the unique values of multiple columns

In [6]:
pd.unique(immo24[["margin-top-none", "margin-top-none 2", "margin-top-none 3"]].values.ravel('K'))

array(['Balkon/Terrasse', nan, 'Einbauküche', 'Keller', 'Garten',
       'Stufenlos', 'Aufzug', 'Gäste-WC', 'WG-geeignet', '...'],
      dtype=object)

#### Adding new empty columns

In [7]:
immo24["Balkon/Terrasse"] = ""

In [8]:
immo24['Einbauküche'], immo24['Keller'], immo24['Garten'] = "", "", ""

In [9]:
immo24['Aufzug'], immo24['Gäste-WC'], immo24['WG-geeignet'] = "", "", ""

In [10]:
immo24['Stufenlos']=""

#### Creating dummy-value (0 or 1) for features

In [11]:
immo24.head()

,result-list-entry__brand-title,result-list-entry__map-link,font-highlight,font-highlight 2,onlyLarge,margin-top-none,margin-top-none 2,margin-top-none 3,Balkon/Terrasse,Einbauküche,Keller,Garten,Aufzug,Gäste-WC,WG-geeignet,Stufenlos
0,Exklusives Penthouse im Grunewald,"Grunewald, Berlin",3.940 €,175 m²,3,Balkon/Terrasse,Einbauküche,...,,,,,,,,
1,"Helle, wunderschöne 4-Zimmer Etagenwohnung mit...","Gartenstraße 88, Mitte (Ortsteil), Berlin",~4.030 €,147 m²,4,Balkon/Terrasse,Einbauküche,...,,,,,,,,
2,"Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...","Drei-Linien-Weg 99, Karow, Berlin","1.404,41 €","72,86 m²",3,Balkon/Terrasse,Einbauküche,...,,,,,,,,
3,Schloßloft am Lietzensee mit Galerie und Seebl...,"Witzlebenplatz 2, Charlottenburg, Berlin","2.663,13 €","107,89 m²",1,Balkon/Terrasse,Einbauküche,...,,,,,,,,
4,Penthouse-Wohnung mit Blick über Berlin!,"Flottwellstraße 24, Tiergarten, Berlin","2.790,64 €","93,36 m²",3,Balkon/Terrasse,Einbauküche,...,,,,,,,,

In [12]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Balkon/Terrasse":
        immo24.iloc[i,8]=1
    elif immo24.iloc[i,6]== "Balkon/Terrasse":
        immo24.iloc[i,8]=1
    elif immo24.iloc[i,7]== "Balkon/Terrasse":
        immo24.iloc[i,8]=1
    else:
        immo24.iloc[i,8]=0

In [13]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Einbauküche" or immo24.iloc[i,6]== "Einbauküche" or immo24.iloc[i,7]== "Einbauküche":
        immo24.iloc[i,9]=1
    else:
        immo24.iloc[i,9]=0

In [14]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Keller" or immo24.iloc[i,6]== "Keller" or immo24.iloc[i,7]== "Keller":
        immo24.iloc[i,10]=1
    else:
        immo24.iloc[i,10]=0

In [15]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Garten" or immo24.iloc[i,6]== "Garten" or immo24.iloc[i,7]== "Garten":
        immo24.iloc[i,11]=1
    else:
        immo24.iloc[i,11]=0

In [16]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Aufzug" or immo24.iloc[i,6]== "Aufzug" or immo24.iloc[i,7]== "Aufzug":
        immo24.iloc[i,12]=1
    else:
        immo24.iloc[i,12]=0

In [17]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Gäste-WC" or immo24.iloc[i,6]== "Gäste-WC" or immo24.iloc[i,7]== "Gäste-WC":
        immo24.iloc[i,13]=1
    else:
        immo24.iloc[i,13]=0

In [18]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "WG-geeignet" or immo24.iloc[i,6]== "WG-geeignet" or immo24.iloc[i,7]== "WG-geeignet":
        immo24.iloc[i,14]=1
    else:
        immo24.iloc[i,14]=0

In [19]:
for i in range (len(immo24)):
    if immo24.iloc[i,5]== "Stufenlos" or immo24.iloc[i,6]== "Stufenlos" or immo24.iloc[i,7]== "Stufenlos":
        immo24.iloc[i,15]=1
    else:
        immo24.iloc[i,15]=0

list1=["Keller", "Garten", "Aufzug", "Gäste-WC", "WG-geeignet"]

for i in range (len("immo24")):
    for j in range (len(list)):
                    if immo24.iloc[i,6]== list1[j] or immo24.iloc[i,7]== list1[j] or immo24.iloc[i,8]== list1[j]:
                        immo24.iloc[i,j+11]=1
                    else:
                        immo24.iloc[i,j+11]=0

#### Getting the specific district from address

In [20]:
Stadtteil=[]
for i in range (len(immo24)):
    elem= immo24["result-list-entry__map-link"][i].split(",")[(immo24["result-list-entry__map-link"][i].split(",").index(" Berlin"))-1]
    elem= elem.lstrip()
    elem=elem.replace("(Ortsteil)","")
    elem= elem.rstrip()
    Stadtteil.append(elem)

In [21]:
len(Stadtteil)

3508

In [22]:
immo24["Stadtteil"]= Stadtteil

In [23]:
len(immo24["Stadtteil"].unique())

88

In [24]:
immo24["Stadtteil"].unique()

array(['Grunewald', 'Mitte', 'Karow', 'Charlottenburg', 'Tiergarten',
       'Wilmersdorf', 'Alt-Treptow', 'Friedrichshain', 'Prenzlauer Berg',
       'Schmargendorf', 'Wilhelmstadt', 'Mariendorf', 'Friedrichsfelde',
       'Britz', 'Buckow', 'Spandau', 'Gesundbrunnen',
       'Alt-Hohenschönhausen', 'Hakenfelde', 'Moabit', 'Schöneberg',
       'Kreuzberg', 'Rahnsdorf', 'Neukölln', 'Steglitz', 'Friedenau',
       'Köpenick', 'Reinickendorf', 'Hellersdorf', 'Pankow',
       'Altglienicke', 'Heinersdorf', 'Tempelhof', 'Grünau', 'Biesdorf',
       'Lankwitz', 'Marzahn', 'Westend', 'Karlshorst', 'Konradshöhe',
       'Staaken', 'Marienfelde', 'Lichtenberg', 'Wedding', 'Dahlem',
       'Niederschönhausen', 'Halensee', 'Hermsdorf', 'Adlershof',
       'Weißensee', 'Rosenthal', 'Johannisthal', 'Lichtenrade',
       'Gropiusstadt', 'Kaulsdorf', 'Wannsee', 'Lichterfelde',
       'Blankenburg', 'Friedrichshagen', 'Mahlsdorf', 'Schmöckwitz',
       'Zehlendorf', 'Buch', 'Oberschöneweide', 'Französisch Buchholz',
       'Plänterwald', 'Nikolassee', 'Fennpfuhl', 'Neu-Hohenschönhausen',
       'Bohnsdorf', 'Siemensstadt', 'Borsigwalde', 'Rummelsburg',
       'Hansaviertel', 'Charlottenburg-Nord', 'Niederschöneweide',
       'Tegel', 'Wilhelmsruh', 'Falkenhagener Feld', 'Müggelheim',
       'Haselhorst', 'Märkisches Viertel', 'Wittenau', 'Falkenberg',
       'Baumschulenweg', 'Lübars', 'Gatow', 'Heiligensee'], dtype=object)

#### Checking NaN's

In [25]:
immo24["onlyLarge"].value_counts()

1      1392
2      1182
3       597
4       187
5        38
2,5      30
1,5      16
7        12
6        10
3,5       9
4,5       4
6,5       2
7,5       1
13        1
8         1
5,5       1
8,5       1
18        1
Name: onlyLarge, dtype: int64

In [26]:
immo24["onlyLarge"].isna().sum()

23

In [27]:
immo24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3508 entries, 0 to 3507
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   result-list-entry__brand-title  3508 non-null   object
 1   result-list-entry__map-link     3508 non-null   object
 2   font-highlight                  3508 non-null   object
 3   font-highlight 2                3508 non-null   object
 4   onlyLarge                       3485 non-null   object
 5   margin-top-none                 1735 non-null   object
 6   margin-top-none 2               1196 non-null   object
 7   margin-top-none 3               787 non-null    object
 8   Balkon/Terrasse                 3508 non-null   object
 9   Einbauküche                     3508 non-null   object
 10  Keller                          3508 non-null   object
 11  Garten                          3508 non-null   object
 12  Aufzug                          3508 non-null   object
 13  Gäste-WC                        3508 non-null   object
 14  WG-geeignet                     3508 non-null   object
 15  Stufenlos                       3508 non-null   object
 16  Stadtteil                       3508 non-null   object
dtypes: object(17)
memory usage: 466.0+ KB

In [28]:
immo24["font-highlight"].unique()

array(['3.940 €', '~4.030 €', '1.404,41 €', ..., '3.984 €', '1.448 €',
       '1.663 €'], dtype=object)

In [29]:
immo24["font-highlight"].isna().sum()

0

#### Renaming and rearranging columns

In [30]:
immo24.columns

Index(['result-list-entry__brand-title', 'result-list-entry__map-link',
       'font-highlight', 'font-highlight 2', 'onlyLarge', 'margin-top-none',
       'margin-top-none 2', 'margin-top-none 3', 'Balkon/Terrasse',
       'Einbauküche', 'Keller', 'Garten', 'Aufzug', 'Gäste-WC', 'WG-geeignet',
       'Stufenlos', 'Stadtteil'],
      dtype='object')

In [31]:
new_column_names = {"result-list-entry__brand-title":"description","result-list-entry__map-link":"address","font-highlight":"total rent","font-highlight 2":"area","onlyLarge":"number of rooms","margin-top-none":"feature 1","margin-top-none 2":"feature 2","margin-top-none 3":"feature 3","Balkon/Terrasse":"balcony","Einbauküche":"built-in kitchen","Keller":"basement","Garten":"garden","Aufzug":"elevator","Gäste-WC":"guest toilet","WG-geeignet":"flat share possible","Stufenlos":"stepless","Stadtteil":"district"}

In [32]:
df = immo24.rename(columns=new_column_names)

In [33]:
df["district"]=df["district"].str.lower()

In [34]:
df = df[["district","address","description","total rent","area","number of rooms","balcony","built-in kitchen","basement","garden","elevator","stepless","guest toilet","flat share possible"]]

#### Deleting, useless characters and changing , to .

In [35]:
for i in range (len(df)):
    df["total rent"][i]= df["total rent"][i].replace("€","").replace("~","").rstrip().replace(".","").replace(",",".")

In [36]:
for i in range (len(df)):
    df["area"][i]= df["area"][i].replace("m²","").replace("~","").rstrip().replace(".","").replace(",",".")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3508 entries, 0 to 3507
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   district             3508 non-null   object
 1   address              3508 non-null   object
 2   description          3508 non-null   object
 3   total rent           3508 non-null   object
 4   area                 3508 non-null   object
 5   number of rooms      3485 non-null   object
 6   balcony              3508 non-null   object
 7   built-in kitchen     3508 non-null   object
 8   basement             3508 non-null   object
 9   garden               3508 non-null   object
 10  elevator             3508 non-null   object
 11  stepless             3508 non-null   object
 12  guest toilet         3508 non-null   object
 13  flat share possible  3508 non-null   object
dtypes: object(14)
memory usage: 383.8+ KB

In [38]:
df["number of rooms"].unique()

array(['3', '4', '1', '5', '7', '2', nan, '2,5', '3,5', '6', '8', '1,5',
       '6,5', '4,5', '8,5', '5,5', '7,5', '13', '18'], dtype=object)

#### Dropping rows with incomplete information

In [39]:
df["number of rooms"].isna().sum()

23

In [40]:
df.drop(df.loc[df["number of rooms"].isna()==True].index, inplace=True)

In [44]:
df.reset_index(inplace=True)

In [45]:
df["number of rooms"] = df["number of rooms"].astype(str)

In [46]:
for i in range (len(df)):
    df["number of rooms"][i]= df["number of rooms"][i].replace(",",".")

/var/folders/t4/m86mwfns0ll4fvy0p6jmyhyr0000gp/T/ipykernel_7869/2391938599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["number of rooms"][i]= df["number of rooms"][i].replace(",",".")

#### Adapting datatypes

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                3485 non-null   int64
 1   district             3485 non-null   object
 2   address              3485 non-null   object
 3   description          3485 non-null   object
 4   total rent           3485 non-null   object
 5   area                 3485 non-null   object
 6   number of rooms      3485 non-null   object
 7   balcony              3485 non-null   object
 8   built-in kitchen     3485 non-null   object
 9   basement             3485 non-null   object
 10  garden               3485 non-null   object
 11  elevator             3485 non-null   object
 12  stepless             3485 non-null   object
 13  guest toilet         3485 non-null   object
 14  flat share possible  3485 non-null   object
dtypes: int64(1), object(14)
memory usage: 408.5+ KB

In [48]:
df[["number of rooms", "total rent","area"]] = df[["number of rooms", "total rent","area"]].astype(float)

In [49]:
df[['balcony', 'built-in kitchen', 'basement', 'garden','elevator', 'stepless', 'guest toilet', 'flat share possible']]=df[['balcony', 'built-in kitchen', 'basement', 'garden','elevator', 'stepless', 'guest toilet', 'flat share possible']].astype(int)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3485 entries, 0 to 3484
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                3485 non-null   int64
 1   district             3485 non-null   object
 2   address              3485 non-null   object
 3   description          3485 non-null   object
 4   total rent           3485 non-null   float64
 5   area                 3485 non-null   float64
 6   number of rooms      3485 non-null   float64
 7   balcony              3485 non-null   int64
 8   built-in kitchen     3485 non-null   int64
 9   basement             3485 non-null   int64
 10  garden               3485 non-null   int64
 11  elevator             3485 non-null   int64
 12  stepless             3485 non-null   int64
 13  guest toilet         3485 non-null   int64
 14  flat share possible  3485 non-null   int64
dtypes: float64(3), int64(9), object(3)
memory usage: 408.5+ KB

In [51]:
df.drop("index", axis=1, inplace=True)

In [56]:
#df.to_csv("df_clean.csv",index=False)

#### Creating numeric df as basis for machine learning

In [57]:
df= pd.get_dummies(df, columns=['district'])

In [71]:
df[["district_tiergarten", "district_wannsee", "district_wedding","district_weißensee", "district_westend", "district_wilhelmsruh",'district_wilhelmstadt', 'district_wilmersdorf', 'district_wittenau','district_zehlendorf']] = df[["district_tiergarten", 'district_wannsee', 'district_wedding','district_weißensee', 'district_westend', 'district_wilhelmsruh','district_wilhelmstadt', 'district_wilmersdorf', 'district_wittenau','district_zehlendorf']].astype(int)

In [73]:
df_numeric = df.select_dtypes(include=["int","float"])

In [74]:
df_numeric

,total rent,area,number of rooms,balcony,built-in kitchen,basement,garden,elevator,stepless,guest toilet,...,district_tiergarten,district_wannsee,district_wedding,district_weißensee,district_westend,district_wilhelmsruh,district_wilhelmstadt,district_wilmersdorf,district_wittenau,district_zehlendorf
0,3940.00,175.00,3.0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4030.00,147.00,4.0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1404.41,72.86,3.0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2663.13,107.89,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2790.64,93.36,3.0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3480,1035.00,80.00,3.0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3481,1663.00,84.10,2.0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3482,1260.00,72.00,2.5,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3483,2995.00,158.00,4.0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
3484,1999.00,136.32,4.0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
#df_numeric.to_csv("df_numeric.csv",index=False)