# EDA

#### Importing clean data

In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("df_clean.csv")

In [3]:
df

,district,address,description,total rent,area,number of rooms,balcony,built-in kitchen,basement,garden,elevator,stepless,guest toilet,flat share possible
0,grunewald,"Grunewald, Berlin",Exklusives Penthouse im Grunewald,3940.00,175.00,3.0,1,1,0,0,0,0,0,0
1,mitte,"Gartenstraße 88, Mitte (Ortsteil), Berlin","Helle, wunderschöne 4-Zimmer Etagenwohnung mit...",4030.00,147.00,4.0,1,1,0,0,0,0,0,0
2,karow,"Drei-Linien-Weg 99, Karow, Berlin","Elegante 3-Zimmer-Wohnung mit Terrasse, Wannen...",1404.41,72.86,3.0,1,1,0,0,0,0,0,0
3,charlottenburg,"Witzlebenplatz 2, Charlottenburg, Berlin",Schloßloft am Lietzensee mit Galerie und Seebl...,2663.13,107.89,1.0,1,1,0,0,0,0,0,0
4,tiergarten,"Flottwellstraße 24, Tiergarten, Berlin",Penthouse-Wohnung mit Blick über Berlin!,2790.64,93.36,3.0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3480,kaulsdorf,"Wilhelmsmühlenweg 12, Kaulsdorf, Berlin",3- Raumwohnung in Kaulsdorf in Bahnhofnähe,1035.00,80.00,3.0,1,0,1,1,0,0,0,0
3481,schöneberg,"Nollendorfstr. 17, Schöneberg, Berlin",Schöne 2 - Zimmer - Wohnung zum Wohlfühlen,1663.00,84.10,2.0,0,0,0,1,0,0,0,0
3482,tegel,"Tegel, Berlin","Alt-Tegel, seenahe ruhige Maisonette-Whg, 72m²...",1260.00,72.00,2.5,0,0,1,1,0,0,0,0
3483,tiergarten,"Potsdamer Str. 100, Tiergarten, Berlin",Sonnendurchflutete repräsentative Wohnung / Bü...,2995.00,158.00,4.0,0,0,0,0,1,0,1,0
3484,charlottenburg,"Kaiserdamm 6, Charlottenburg, Berlin",Grossraumwohnung ( zur Eigenrenovierung/Sanier...,1999.00,136.32,4.0,0,0,0,0,1,0,0,0